$black-normal: #0D0E10;
$black-dark: #050607;
$black-light: #15171A;


$white-normal: #F5F7F7; 
$white-dark:  #EDEFF0;
$white-light: #FAFCFC;


$green-normal: #16A772;
$green-dark: #2F745B;
$green-light:  #07C37F;


$blue-normal: #459BB0;
$blue-dark: #2DC7ED;
$blue-light: #2DC7ED;



$gray-1: #777;

.color-gray{
    color: $gray-1;
}