//HEADER

.menu{
    width:100%;
    display: flex;  // isso deixa uma div ao lado da outra
    justify-content: space-between; //isso deixa os elementos dividos em espaços iguais
    position: fixed;
    padding: 2rem 1.5rem;  
}


//container e seções 

.container{
    max-width: 120rem;
    margin: 0 auto;
    padding: 2.4rem 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.hero{
    height: 100vh; 
}

.img-hero{
    width: 30rem;
}

.container-item:nth-child(1){
        flex-grow: 0;
        margin: 4rem 0rem; 
}
    
.container-item:nth-child(2){
        
        display:flex;
        align-items: center;
        margin-top: 8rem;
        img{
            width: 32rem ;
            height: 43rem;
            margin-left: 25rem;
            border-radius: .5rem;
        }
}    

.bg-hero{
    position: absolute;
    top:0;
    left:0;
   
    width: 100%;
    height: 100vh;
    overflow:hidden;
    z-index: -1;
  

}

.container-item:nth-child(1){
    flex-grow: 0;
    margin: 4rem 0px;
    

}

.container-item:nth-child(2){
    
    
    display:flex;
    
    align-items: center;
    margin-bottom: 8rem ;

    img{
        margin-top: 12rem;
        width: 32rem ;
        height: 43rem;
        margin-left: 34rem;
        border-radius: .5rem;
    }
    
}

#bio{
    
    
    height: 110vh;
    
    background-image: url(../../img/mountain-dark.png) ;
    background-size: 100vw 110vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    

}


#bio .bio-content{
    max-width: 1200px;
    margin: 25rem auto;
   
}

.flex-end{
    display: flex;
    justify-content: center;
    align-items: center;
}


.linha1{
    height:.2rem;
    background: linear-gradient(to bottom, $green-light , $black-dark 90%);
}


//Projetos

#projects{
    margin: 0 auto;
    max-width: 120rem;
}

.bb-gray{
    border-bottom: 1px solid $black-light;
}
.list-item{
    max-width: 120rem;
    padding:  1.6rem 2.4rem;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
   
    

    a{
        &:hover{
            &+ .img-project{
                transform: translate(0%, -0% ) translate3d(0,0,0)
            }
        }

    }
            
}

.img-project{
    transition: .5s ease;
    max-width: 30rem;
    border-radius: .4rem;
    z-index: -1;
    opacity: 1;
   
    transform: translate(-50%, -10% ) translate3d(-2000px,0,0) skewX(30deg) 
    


}

#get{
    max-width: 120rem ;
    padding: 1.6rem 2.4rem;
    
    margin: 5rem auto;
}



.elipse{
    display: block;
    margin-top: 6.4rem;
    
    padding: 1.6rem 2.4rem;
    font-size: 2.4rem;
    position:relative;
    width: 12rem;    
    


    &::after{
        content: '';
        display:block;
        position: absolute;
        top: 0;
        left:0;
        border-radius: 120px;
        width: 120px;
        height: 120px;
        background-color: $black-dark;
        box-shadow: $green-light 2px 2px ;
        z-index: -1;
        transform: translate(-8%, -22%);


    }
    &:hover{
        &::after{

            transform: translate(-2%, -18%);
            background-color: $green-light;
            transition: .6s ease-in-out;

        }

    }
}



//ANIMATIONS


#Elipse{
    transform-origin: center center;  // transforma o eixo de giro no próprio elemento (<path>)
    transform-box: fill-box;
    animation: rotate 35s ease infinite ;
}

//LINHA DO TEMPO DAS ANIMAÇÕES
@keyframes rotate{
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg)
    }
}



@keyframes rotateTri1{
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg)
    }
}


@media screen and(min-width: 1600px){
    .container{
        max-width: 140rem;
    }
    #bio .bio-content{
        margin: 0 auto;
        max-width: 140rem;
        padding-top: 20rem;
    }

    #bio .bio-content h2{
        font-size: 12rem;
    }

    #bio .bio-content p{
        font-size: 2.8rem;
    }

}

@media screen and(max-width: 1400px){
    .container-item:nth-child(2){
        
     
        margin-bottom: 10rem ;
        margin-top: 0rem;
        img{
            margin-top: 0rem;
            width: 25rem ;
            height: 34rem;
            margin-left: 12rem;
            border-radius: .5rem;
        }
        
    }

    svg{
        height: 100vh;
        width: 100%;
    }
}
@media screen and(max-width: 1200px){
    
    .svg-hero{
        transform: scale(1.5) rotate(25deg);
    }
    #bio{
        height: 100vh;
        background-size: 100vw 70vh;
        display: flex;
        flex-direction: column;
    }

    #bio .bio-content{
       max-width: 120rem;
      
       margin-right: 2rem; 
    }
   
    
}


@media screen and (max-width: 960px){

    #bio{
        height: 100vh;
        background-size: 100vw 70vh;
        display: flex;
        flex-direction: column;
    }

  
    .menu-left{
        display:none;
    }
    .menu-right{
        display:none;
    }

    //CONTAINER HERO

    .relative{
        position:relative;
    }

    .hero{
        height: auto;
        
    }   
    .container{
        flex-direction: column;
    }
   
    .bg-hero{
        display: flex;
        justify-content: center;
        align-items: center ;
    }
    .svg-hero{

        transform: scale(2) rotate(25deg);
    }
   

}


@media screen and(max-width: 550px){
    
    .title-hero{
        margin-top: 10rem;
        
    }
    .menu{
        display: none;
    }
    .relative{
    width:  100vw;
    
    
    }
    .svg{
        
        padding-right: 5rem;
        transform: scale(2);
        width: 100vw;
        
        
    }
    .container-item-1{
        height: 68rem;
        width:80%;
    }
    p{
        font-size: 2rem;
    }
    .img-project{
        max-width: 22rem !important
    }
    .container-item:nth-child(2){
        margin: 4rem 0px;
    }
    .container-item:nth-child(2) img{
        margin: 0 
    }
    .img-project{
        transform: translate(0%, -0% ) translate3d(0,0,0) !important
    }
    h3{
        font-size: 2.4rem;
    }
    #bio{
        display: block;
      
        height: 60vh;
        padding: 0rem 2rem;
        margin: 0 auto;
        background: none;
    }

    #bio .bio-text{
        
        text-align: justify;
        line-height: 140%  ;
        
        
    }
    span{
        color: white;
        font-size: 4.8rem;
        font-family: 'Barlow Condensed' , sans-serif;
        padding-top: 0rem ;

    }
    #projects{
        padding: 0rem 2rem;
    }
    .list-item{
        padding: 0;
        display: flex;
        justify-content: space-between;
    }

    .flex-end{
        margin-top: 16rem;
    }
   
    footer h2{
        font-size: 32px
    }
}